<h1>
    {{title}}
</h1>

<div class="container">
    <form novalidate [formGroup]="form" class="form-horizontal">


        <div class="form-group">
            <label class="col-md-4 control-label" for="text">Datos personales</label>
            <div class="col-md-8">
                <input type="text" formControlName="nombre" placeholder="First" [(ngModel)]="form.nombre">
                <input type="text" formControlName="apellido" placeholder="Last" [(ngModel)]="form.apellido">
                <input type="text" formControlName="cedula" placeholder="cedula" [(ngModel)]="form.cedula">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="text">Correo</label>
            <div class="col-md-8">
                <input type="radio" value="Si" formControlName="notificacion"> Si
                <input type="radio" value="No" formControlName="notificacion"> No
                <input formControlName="email" placeholder="Email" [(ngModel)]="form.email">
            </div>
        </div>



        <div formGroupName="telefonosDT">
            <p>Agregar telefonos</p>
            <input type="text" formControlName="tipo" placeholder="Tipo">
            <input type="text" formControlName="telefono" placeholder="Telefono" [(ngModel)]="telefono">

            <button (click)="addTelefonos(form.value, form.valid)" class="btn btn-success">Add Telefono</button>


            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Telefono</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tel of telefonos let i= index">
                        <td>{{tel.tipo}}</td>
                        <td>{{tel.telefono}}</td>
                        <td>
                            <a href="#" (click)="setEditPhone(i)"> <span class="glyphicon glyphicon-edit"></span> </a>
                        </td>
                        <td>
                            <a href="#" (click)="setDeletePhone(i)"> <span class="glyphicon glyphicon-remove-circle"></span> </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        <div formGroupName="direccionesDT">

            <p>Agregar Direcciones</p>
            <input type="text" formControlName="tipo" placeholder="Tipo">
            <input type="text" formControlName="direccion" placeholder="Direccion" [(ngModel)]="direccion">

            <button (click)="addDireccion(form.value, form.valid)" class="btn btn-success">Add Direccion </button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Direccion</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dir of direcciones let i= index">
                        <td>{{dir.tipo}}</td>
                        <td>{{dir.direccion}}</td>
                        <td>
                            <a href="#" (click)="setEditDireccion(i)"> <span class="glyphicon glyphicon-edit"></span> </a>
                        </td>
                        <td>
                            <a href="#" (click)="setDeleteDireccion(i)"> <span class="glyphicon glyphicon-remove-circle"></span> </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        <div class="form-group">
            <label for="sel1">Lista de carros </label>
            <select class="form-control" id="sel1" (change)="onChangeCarros($event.target.value)">
                <option *ngFor="let i of carsList | MarcaCars ">{{i}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="sel1">Modelo </label>
            <select class="form-control" id="sel2" (change)="onChangeModelo($event.target.value)">
                <option *ngFor="let i of modelsList | ModeloCars ">{{i}}</option>
            </select>
        </div>


        <div class="form-group">
            <label for="sel1">Select list 3 </label>
            <select class="form-control" id="sel3">
                <option *ngFor="let i of yearsList ">{{i.ano}}</option>
            </select>
        </div>


        <button>Submit</button>
        <button (click)="setValores()">SetValues</button>

    </form>
    <p>Value: {{ form.value | json }}</p>
    <p>Form: {{ form }}</p>
    <p>Validation status: {{ form.status }}</p>
</div>